<!doctype html>
<html lang='en'>
<head>
	<title>Hello, world!</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>
	<link rel='stylesheet' href='css/styles.css'>
</head>
<body>
	<ul>
		<li data-tally-repeat='person people'>
			<a data-tally-attribute='href person.homepage'>
				<p>
					Hello, my name is <span data-tally-text='person.name'>Inigo Montoya</span>
					<span data-tally-if='person.isSpeaker'>Speaker</span>
				</p>
			</a>
		</li>
		<li data-tally-dummy>
			<a data-tally-attribute='href person.homepage'>
				<p>
					Hello, my name is <span data-tally-text='person.name'>Sarah</span>
					<span data-tally-if='person.isSpeaker' style='display:none'>Speaker</span>
				</p>
			</a>
		</li>
		<li data-tally-dummy>
			<a data-tally-attribute='href person.homepage'>
				<p>
					Hello, my name is <span data-tally-text='person.name'>Joe</span>
					<span data-tally-if='person.isSpeaker'>Speaker</span>
				</p>
			</a>
		</li>
	</ul>
</body>
</html>